{{> header}}
        <div class="container">
            <div class="row bg-light text-dark">
            <h1>Movie title: {{details.movieName}}</h1>

                <div class="col-md-8">
                    <img class="img-thumbnail" src="{{details.movieImage}}" alt="Movie">
                </div>
                <div class="col-md-4 text-center">
                    <h3 class="my-3 ">Movie Description</h3>
                    <p>{{details.movieDescription}}</p>
                    {{#if details.isOrganizer}}
                    <a class="btn btn-danger" href="#delete/{{this.params.id}}">Delete</a>
                    <a class="btn btn-warning" href="#edit/{{this.params.id}}">Edit</a>
                    {{else}}
                    {{#if details.alreadyLied}}
                    <span class="enrolled-span">Liked {{details.likes}}</span>
                    {{else}}
                        <a class="btn btn-primary" href="#like/{{this.params.id}}">Like</a>

                        {{/if}}
                    {{/if}}

                </div>
            </div>
        </div>
{{> footer}}